doctype html
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="renderer", content="webkit")
    title 松果信用
    link(rel='stylesheet', href="/css/base.css")
    link(rel='stylesheet', href="/js/modal/zeroModal.css")
    link(rel='stylesheet', href="/css/zxf_page.css")
    link(rel='stylesheet', href='../../css/BeatPicker.min.css')
    script(src='/js/jquery.js')
    script(src='../../js/BeatPicker.min.js')
    script(src='/js/modal/mustache.js')
    script(src='/js/modal/zeroModal.js')
    script(src='/js/scroll.js')
    script(src="/js/zxf_page.js")
    block head
html
    body
        include header
        block content
        include footer
        script(src='/js/homebase.js').