extends ../layout

block head
    link(rel='stylesheet', href='../../css/sign_in.css')
block content
    .loginIndex
        .logincont
            .loginrelative
                .loginIn
                        .loginIcon
                            img(src='../../img/web-LOGO.png')
                        .loginSiteName
                            .engT USER MANAGEMENT BACKGROUND
                            .cnT 商户管理后台
                        .loginForm
                            .formInfo
                                .lTitle
                                    span 找回密码
                                .lItem.sign
                                    .title *注册手机号：
                                    .inputBox
                                        input#phone(type='text',placeholder="请输入注册手机号码",t-data="手机号码",autocomplete="off")
                                        .tips
                                .lItem.sign
                                    .title *手机验证码：
                                    .inputBox
                                        input#pcode(type='text',placeholder="请输入手机验证码",t-data="验证码",autocomplete="off",class="txyz")
                                        a#code(href="javascript:;",class="code",data-value='61') 获取验证码
                                        .tips
                                .lItem.sign
                                    .title *设置密码：
                                    .inputBox
                                        input#password(type='password',placeholder='首位为大写字母的8-18位数字、字母组合',t-data="密码",maxlength="18")
                                        .tips
                                .lItem.sign
                                    .title *确认密码：
                                    .inputBox
                                        input#confirmPassword(type='password',placeholder='首位为大写字母的8-18位数字、字母组合',t-data="密码",maxlength="18")
                                        .tips
                                .loginButton.cursor#login(style="margin-top:60px") 确定
            .loginFtt Copyright 2003-2017, 版权所有:浙江捷富信息科技有限公司 浙ICP备14021018号


    script.
       function windowResize() {
            var h = document.documentElement.clientHeight;
            var w = document.documentElement.clientWidth;
            $('body').addClass('loginAdd').css({
                'min-width': '1000px',
                'min-height': '700px',
                'height': h,
                'width': w
            })
       };
       $(document).ready(function () {
           windowResize();
       });
       $(window).resize(function () {
           windowResize();
       });
        $('.lItem input').focus(function () {
            $(this).closest('.lItem').addClass('blur');
        });
        $('.lItem input').blur(function () {
            $(this).closest('.lItem').removeClass('blur');
            var p = $(this).next().get(0);
            var a = $(this).attr('t-data');
            var b = $(this).val();
            if(b===''){
                $(p).text(a+'不能为空').show();
                $(this).closest('.lItem').addClass('error');
            }else{
                $(p).text('').hide();
                $(this).closest('.lItem').removeClass('error');
            }
        });
           $('.lItem input').bind('input propertychange', function () {
               $($(this).next().get(0)).hide().html();
               $(this).closest('.lItem').removeClass('error');
               $('.loginTips').removeClass('visiable')
           });




       $('#code').on('click', function () {
           var phone = $('#phone').val();
           if (phone == '') {
               zeroModal.alert('请先填写手机号')
           } else {
               if ($('#phone').parent().find('.tips:visible').length == 1) {
                   return
               } else {
                   countdown();
               }
           }
       });
       $('input#password').blur(function () {
           var passwordnum = $('input#password').val();
           var reg = /^[A-Z][a-zA-Z0-9]{7,17}$/;
           var isok = reg.test(passwordnum);
           var cpasswordd = $('input#confirmPassword').val();
           if (passwordnum === '') {
               $('input#password').parent().find('.tips').show().html('密码不能为空');
           } else if (!isok) {
               $('input#password').parent().find('.tips').show().html('密码需要首位为大写字母的8-18位数字、字母组合');
           } else if (cpasswordd == passwordnum) {
               $('input#confirmPassword').parent().find('.tips').hide().html('');
           }
       });
       $('input#confirmPassword').blur(function () {
           var passwordnum = $('input#password').val();
           var cpasswordd = $('input#confirmPassword').val();
           if (cpasswordd == '') {
               $('input#confirmPassword').parent().find('.tips').show().html('请再次输入密码确认');
           } else if (cpasswordd !== passwordnum) {
               $('input#confirmPassword').parent().find('.tips').show().html('两次密码输入不一致');
           }
       })
           $('#login').on('click',function () {
               var hdw = $('.tips:visible').length;
               if(hdw){
                   zeroModal.alert('请输入所有必填项')
                   return
               }else{
                   var phoneNum = $('#phone').val();
                   var password = $('#password').val();
                   var postData = {
                       Regphonenumber: phoneNum,
                       Password: password
                   }
                   $.post('/api/Api_ACCOUNT_A5_login_merchant_Request', postData, function (res) {
                       console.log(res.status.resultcode)
                       if (res.status.resultcode === '0') {
                           window.location.href = '/store'
                       } else {
                           $('.loginTips').html('用户名或密码错误').addClass('visiable');
                           zeroModal.error('登录异常,请稍候再试')
                       }
                   })
               }
           })


