extends ../layout

block head
    link(rel='stylesheet', href='../../css/sign_in.css')
    script(src='../../js/city/threeCity.js')
    script(src='../../js/city/cache_city.js')
    script(src='../../test/lodash.js')
    script(src='../../test/benchmark.js')
    script(src='../../test/platform.js')
block content
    .loginIndex
        .logincont
            .loginrelative
                .loginIn
                    .loginIcon
                        img(src='../../img/web-LOGO.png')
                    .loginSiteName
                        .engT USER MANAGEMENT BACKGROUND
                        .cnT 商户管理后台
                    .loginForm
                        .formInfo
                            .lTitle
                                span 商户注册
                            .formStepF
                                .lItem.sign
                                    .title *企业名称：
                                    .inputBox
                                        input#enterprise(type='text',placeholder="请输入企业名称",t-data="企业名称",autocomplete="off")
                                        .tips
                                .lItem.sign.cite
                                    .title *企业常驻地址：
                                    .inputBox
                                        select#province(name="province")
                                        select#city(name="city")
                                        select.nomargin#district(name="district")
                                        input#address(type='text',class="xxdz",placeholder="请输入详细地址",t-data="详细地址",autocomplete="off")
                                        .tips
                                .lItem.sign
                                    .title *图形验证码：
                                    .inputBox
                                        input#vcode(type='text',placeholder="请输入验证码",class="txyz",t-data="验证码",autocomplete="off")
                                        .vcode
                                            img(src='/captcha')#vcodeImg
                                        .tips
                                .loginButton.cursor#next(style="margin-top:95px") 下一步
                            .formStepG
                                .lItem.sign
                                    .title *注册手机号：
                                    .inputBox
                                        input#phone(type='text',placeholder="请输入注册手机号码",t-data="手机号码",autocomplete="off" oninput="OnPhone(event)" onpropertychange="OnPhoneIE(event)")
                                        .tips#phonetip
                                .lItem.sign
                                    .title *手机验证码：
                                    .inputBox
                                        input#pcode(type='text',placeholder="请输入手机验证码",t-data="验证码",autocomplete="off",class="txyz")
                                        a#code(href="javascript:;",class="code",data-value='61') 获取验证码
                                        .tips
                                .lItem.sign
                                    .title *设置密码：
                                    .inputBox
                                        input#password(type='password',placeholder='首位为大写字母的8-18位数字、字母组合',t-data="密码",maxlength="18" oninput="OnPW(event)" onpropertychange="OnPWIE(event)")
                                        .tips#passwordtip
                                .lItem.sign
                                    .title *确认密码：
                                    .inputBox
                                        input#confirmPassword(type='password',placeholder='首位为大写字母的8-18位数字、字母组合',t-data="密码",maxlength="18" oninput="OnCPW(event)" onpropertychange="OnCPWIE(event)")
                                        .tips#confirmPasswordtip
                                .fwxy
                                    .xyname
                                        input#write(type="checkbox",checked="true")
                                        | 《服务协议》
                                        .tips
                                .loginButton.cursor#Tj 提交审核
            .loginFtt Copyright 2003-2017, 版权所有:浙江捷富信息科技有限公司 浙ICP备14021018号
    //script(src='../../js/shSignYz.js')


    script.
        function windowResize() {
            var h = document.documentElement.clientHeight;
            var w = document.documentElement.clientWidth;
            $('body').addClass('loginAdd').css({
                'min-width': '1000px',
                'min-height': '700px',
                'height': h,
                'width': w
            })
        };
        $(document).ready(function () {
            windowResize();
        });
        $(window).resize(function () {
            windowResize();
        });
        //省市区三级联动
        var districts = {
            s1: 'select[name=province]',
            s2: 'select[name=city]',
            s3: 'select[name=district]'
        };
        threeSelect(districts);
        //图形验证码获取
        $('.vcode').on('click', function () {
            var strtime = new Date().getTime();
            $("#vcodeImg").attr("src", "/captcha?rantime=" + strtime);
        });
        //下一步 验证图形验证码
        var nextData;
        $('#next').on('click', function () {
            var errornum = 0
            $('.formStepF input').each(function () {
                if ($(this).val() === '') {
                    errornum++
                }
            })
            if ($('#district').val() === ''){
                errornum++
            }
            console.log(errornum)
            if (errornum !== 0) {
                zeroModal.error('提交错误,必填选项为空')
                return false
            } else {
                $.post('/verify', {data : $('#vcode').val()}, function (res) {
                    if (res.resdata === '1') {
                        $('.formStepF').hide();
                        $('.formStepG').show();
                    } else {
                        zeroModal.error('验证码错误,请重新填写')
                    }
                })
            }
        })
        /*输入过程中验证*/
        // Firefox, Google Chrome, Opera, Safari, Internet Explorer from version 9
        function OnPhone(event) {
            var phone = document.getElementById('phone').value
            var reg = /^1[3|4|5|6|7|8|9][0-9]{9}$/;
            var isok = reg.test(phone);
            if (!isok) {
                document.getElementById('phonetip').innerHTML = '请输入正确的手机号码'
            } else {
                document.getElementById('phonetip').innerHTML = ''
                $.post('/api/Api_ACCOUNT_A5_check_RegPhoneNumber_Request', {
                    Regphonenumber: phone,
                    Accounttype: '5'
                }, function (res) {
                    console.log(res.status.resultcode)
                    if (res.pageList[0].isexists === 1) {
                        document.getElementById('phonetip').innerHTML = '手机号码已被占用'
                    } else {
                        document.getElementById('phonetip').innerHTML = ''
                    }
                })
            }
        }
        // Internet Explorer
        function OnPhoneIE(event) {
            var phone = document.getElementById('phone').value
            var reg = /^1[3|4|5|6|7|8|9][0-9]{9}$/;
            var isok = reg.test(phone);
            if (!isok) {
                document.getElementById('phonetip').innerHTML = '请输入正确的手机号码'
            } else {
                document.getElementById('phonetip').innerHTML = ''
                $.post('/api/Api_ACCOUNT_A5_check_RegPhoneNumber_Request', {
                    Regphonenumber: phone,
                    Accounttype: '5'
                }, function (res) {
                    console.log(res.status.resultcode)
                    if (res.pageList[0].isexists === 1) {
                        document.getElementById('phonetip').innerHTML = '手机号码已被占用'
                    } else {
                        document.getElementById('phonetip').innerHTML = ''
                    }
                })
            }
        }
        // Firefox, Google Chrome, Opera, Safari, Internet Explorer from version 9
        function OnPW(event) {
            var passwordnum = document.getElementById('password').value
            var reg = /^[A-Z][a-zA-Z0-9]{7,17}$/;
            var isok = reg.test(passwordnum);
            if (!isok) {
                document.getElementById('passwordtip').innerHTML = '密码格式有误'
                return false
            } else {
                document.getElementById('passwordtip').innerHTML = ''
            }
            var pw = document.getElementById('confirmPassword').value
            if (pw !== '') {
                if (pw !== passwordnum) {
                    document.getElementById('passwordtip').innerHTML = '密码不一致，请重新输入'
                    return false;
                } else {
                    document.getElementById('passwordtip').innerHTML = ''
                    document.getElementById('confirmPasswordtip').innerHTML = ''
                }
            }
        }
        // Internet Explorer
        function OnPWIE(event) {
            var passwordnum = document.getElementById('password').value
            var reg = /^[A-Z][a-zA-Z0-9]{7,17}$/;
            var isok = reg.test(passwordnum);
            if (!isok) {
                document.getElementById('passwordtip').innerHTML = '密码格式有误'
                return false
            } else {
                document.getElementById('passwordtip').innerHTML = ''
            }
            var pw = document.getElementById('confirmPassword').value
            if (pw !== '') {
                if (pw !== passwordnum) {
                    document.getElementById('passwordtip').innerHTML = '密码不一致，请重新输入'
                    return false;
                } else {
                    document.getElementById('passwordtip').innerHTML = ''
                    document.getElementById('confirmPasswordtip').innerHTML = ''
                }
            }
        }
        // Firefox, Google Chrome, Opera, Safari, Internet Explorer from version 9
        function OnCPW(event) {
            var passwordnum = document.getElementById('password').value
            var pw = document.getElementById('confirmPassword').value
            if (pw !== passwordnum) {
                document.getElementById('confirmPasswordtip').innerHTML = '密码不一致，请重新输入'
            } else {
                document.getElementById('confirmPasswordtip').innerHTML = ''
                document.getElementById('passwordtip').innerHTML = ''
            }
        }
        // Internet Explorer
        function OnCPWIE(event) {
            var passwordnum = document.getElementById('password').value
            var pw = document.getElementById('confirmPassword').value
            if (pw !== passwordnum) {
                document.getElementById('confirmPasswordtip').innerHTML = '密码不一致，请重新输入'
            } else {
                document.getElementById('confirmPasswordtip').innerHTML = ''
                document.getElementById('passwordtip').innerHTML = ''
            }
        }
        var pcodenum
        $('#code').on('click', function () {
            var phonenum = $("#phone").val()
            if (phonenum === '') {
                document.getElementById('phonetip').innerHTML = '请输入手机号码'
                return false
            } else {
                countdown();
                document.getElementById('phonetip').innerHTML = ''
                $.post('/api/Api_ACCOUNT_A5_qryVerCode_merchant_Request', {
                    Regphonenumber: phonenum,
                    Accounttype: '5'
                }, function (res) {
                    pcodenum = res.pageList[0].vercode
                })
            }
        })
        $('#Tj').on('click', function () {
            var errornum = 0

            $('.formStepG input').each(function () {
                if ($(this).val() === '') {
                    errornum++
                }
            })
            if(!$('#write').prop("checked")){
                errornum++
            }
            if (errornum !== 0) {
                zeroModal.error('提交错误,必填选项为空')
                return false
            } else {
                var errornumb = 0
                $('.tips').each(function () {
                    if ($(this).text() !== '') {
                        errornumb++
                    }
                })
                if (errornumb !== 0) {
                    zeroModal.error('提交错误,请检查')
                    return false
                } else {
                    $.post('/api/Api_MERCHANT_A5_reg_merchant_Apply_Request', {
                        Accountname : $('#enterprise').val(),
                        Citycode : $('#district').val(),
                        Address : $('#address').val(),
                        Regphonenumber : $('#phone').val(),
                        password : $('#password').val(),
                        Vercode : $('#pcode').val(),
                        // data : $('#vcode').val()
                    }, function (res) {
                        if (res.status.resultcode === '0') {
                            window.location.reload()
                        } else {
                            zeroModal.error('网络错误')
                        }
                    })
                }
            }
        })
        function countdown() {
            var timedown = window.setInterval(function () {
                var a = $('#code').data('value');
                var b = a - 1;
                $('#code').data('value', b);
                $('#code').addClass('type');
                $('#code').text(b + '秒后重新获取');
                $('#code').attr('disabled',"true")
                if (a === 1) {
                    window.clearInterval(timedown);
                    $('#code').text('获取验证码');
                    $('#code').data('value', '61');
                    $('#code').removeClass('type');
                    $('#code').removeAttr("disabled");
                }
            }, 1000);
        }


    script.
        // var nextData;
        // $('#next').on('click',function(){
        //     $(".formStepF input").trigger("blur");
        //     var hdw = $('.formStepF .tips:visible').length;
        //     if (hdw){
        //         zeroModal.error('请填写正确的信息后再次提交!');
        //         return false
        //     }else{
        //         nextData = {
        //             Citycode: $('#district').val(),
        //             Address: $('#address').val()
        //         }
        //         $('.formStepF').hide();
        //         $('.formStepG').show();
        //     }
        // })
        // $('.lItem input').on('blur',function () {
        //     var p = $(this).siblings('.tips')
        //     var a = $(this).attr('t-data');
        //     var b = $(this).val();
        //     if (b === '') {
        //         p.text(a + '不能为空');
        //     } else {
        //         p.text('');
        //     }
        // });
        // $('#phone').on('blur',function () {
        //     var phone = $('#phone').val();
        //     var reg = /^1[3|4|5|6|7|8|9][0-9]{9}$/;
        //     var isok = reg.test(phone);
        //     if (!isok) {
        //         $(this).parent().find('.tips').html('请输入正确的手机号').show();
        //     }
        // })
        // $('.lItem input').on('input propertychange', function () {
        //     $(this).parent().find('.tips').hide().html('');
        //     $('.loginTips').removeClass('visiable')
        // });
        // $('#code').on('click',function () {
        //     if($('#phone').parent().find('.tips:visible').length==1){
        //         return
        //     }else{
        //         countdown();
        //     }
        // })
        // $('#password').on('blur',function () {
        //     var passwordnum = $('#password').val();
        //     var reg = /^[A-Z][a-zA-Z0-9]{7,17}$/;
        //     var isok = reg.test(passwordnum);
        //     if (!isok) {
        //         $('#password').siblings('.tips').show().text('请您输入的登录密码不符合要求')
        //         return false;
        //     } else {
        //         $('#password').siblings('.tips').show().text('')
        //     }
        //     var cpasswordd = $('#confirmPassword').val();
        //     if (pw !== '') {
        //         if (pw !== passwordnum) {
        //             $('#password').siblings('.tips').show().text('两次输入的登录密码不一致，请重新输入')
        //             $('#confirmPassword').siblings('.tips').show().text('两次输入的登录密码不一致，请重新输入')
        //             return false;
        //         } else {
        //             $('#password').siblings('.tips').show().text('')
        //             $('#confirmPassword').siblings('.tips').show().text('');
        //         }
        //     }
        //
        // })
        // $('#confirmPassword').on('blur',function () {
        //     var passwordnum = $('#password').val();
        //     var cpasswordd = $('#confirmPassword').val();
        //     if (pw !== passwordnum) {
        //         $('#password').siblings('.tips').show().text('请再次输入密码确认')
        //         $('#confirmPassword').siblings('.tips').show().text('请再次输入密码确认')
        //         return false;
        //     } else {
        //         $('#password').siblings('.tips').show().text('两次密码输入不一致')
        //         $('#confirmPassword').siblings('.tips').show().text('两次密码输入不一致')
        //     }
        // })
        // document.getElementById('write').onclick = function ( ) {
        //     if($(this).prop('checked')==true){
        //         $('.fwxy').find('.tips').hide().html('')
        //     }else{
        //         $('.fwxy').find('.tips').show().html('请勾选服务协议')
        //     }
        // }
        // $('#Tj').on('click',function () {
        //     $(".formStepG input").trigger("blur");
        //     var hdw = $('.formStepG .tips:visible').length;
        //     var hdc = $('.formStepG #write').prop("checked");
        //     if (hdw) {
        //         zeroModal.error('请填写正确的信息后再次提交!');
        //         return false
        //     }else if(hdc !== true){
        //         $('.fwxy').find('.tips').show().html('请勾选服务协议')
        //         return false
        //     }else{
        //         var phone = $('#phone').val()
        //         var pcode = $('#pcode').val()
        //         var password = $('#password').val()
        //         var postdata = {
        //             //Accountname: $('#enterprise').val(),
        //             //Citycode: $('#district').val(),
        //             //Address: $('#address').val(),
        //             Regphonenumber: phone,
        //             Vercode: '888888',
        //             Password: password
        //         }
        //         $.post('/api/Api_MERCHANT_A5_reg_merchant_Apply_Request',postdata, function (res) {
        //             console.log(res.status.resultcode)
        //             if (res.status.resultcode === '0') {
        //                 zeroModal.success('提交成功,等待审核.')
        //                 setTimeout(function () {
        //                     window.location.href = '/store'
        //                 }, 1000)
        //             }
        //         })
        //     }
        // })
        /*$('#next').on('click', function () {
            $('.errors').css('display', 'none');
            var enterprise = $('#enterprise').val()
            var province = $('#province').val()
            var city = $('#city').val()
            var district = $('#district').val()
            var address = $('#address').val()
            var vcode = $('#vcode').val()
            var errornum = 0;
            if (enterprise == '') {
                $('.signupone .errors').css('display', 'block');
                errornum++;
            } else {
                $('.signupone .errors').css('display', 'none');
            }
            if (province == '') {
                $('.signuptwo .errors').css('display', 'block');
                errornum++;
            } else {
                $('.signuptwo .errors').css('display', 'none');
            }
            if (city == '') {
                $('.signuptwo .errors').css('display', 'block');
                errornum++;
            } else {
                $('.signuptwo .errors').css('display', 'none');
            }
            if (district == '') {
                $('.signuptwo .errors').css('display', 'block');
                errornum++;
            } else {
                $('.signuptwo .errors').css('display', 'none');
            }
            if (address == '') {
                $('.signuptwo .errors').css('display', 'block');
                errornum++;
            } else {
                $('.signuptwo .errors').css('display', 'none');
            }
            if (vcode == '' || typeof(vcodenum) === 'undefined') {
                $('.signupthree .errors').eq('0').css('display', 'block');
                errornum++;
            } else {
                if (vcode !== vcodenum) {
                    $('.signupthree .errors').eq('1').css('display', 'block');
                    errornum++;
                } else {
                    $('.signupthree .errors').eq('1').css('display', 'none');
                }
                $('.signupthree .errors').eq('0').css('display', 'none');
            }
            if (errornum > 0) {
                zeroModal.error('请核对无误,再下一步')
                return false;
            } else {
                $('.part-signupone .errors').each(function () {
                    if ($(this).css("display") === 'block') {
                        zeroModal.error('请核对无误,再下一步')
                        return false
                    } else {
                        nextData = {
                            Accountname: enterprise,
                            Citycode: district,
                            Address: address
                        }
                        $('.part-signupone').css('display', 'none')
                        $('.part-signuptwo').css('display', 'block')
                    }
                })
            }
        })
        $("input").on('focus', function () {
            $(this).siblings('.errors').css('display', 'none')
        })
        $('select').on('focus', function () {
            $('.signuptwo .errors').css('display', 'none')
        })

        $("#phone").on('blur', function () {
            var phonenum = $(this).val()
            var reg = /^1[3|4|5|6|7|8|9][0-9]{9}$/;
            var isok = reg.test(phonenum);
            if (!isok) {
                $('.signupfive .errors').eq('2').css('display', 'block')
                return false;
            } else {
                $.post('/api/Api_ACCOUNT_A5_check_RegPhoneNumber_Request', {
                    Regphonenumber: phonenum,
                    Accounttype: '5'
                }, function (res) {
                    console.log(res.status.resultcode)

                    if (res.pageList[0].isexists === 1) {

                        $('.signupfive .errors').eq('1').css('display', 'block')
                    } else {
                        $('.signupfive .errors').eq('1').css('display', 'none')
                    }
                })
                $('.signupfive .errors').eq('2').css('display', 'none')
            }
        })
        $("#password").on('blur',function () {
            var passwordnum = $(this).val()
            var reg = /^[A-Z][a-zA-Z0-9]{7,17}$/;
            var isok = reg.test(passwordnum);
            if (!isok) {
                $('.signupseven .errors').eq('1').css('display', 'block')
                return false;
            } else {
                $('.signupseven .errors').eq('1').css('display', 'none')
            }
            var pw = $("#confirmPassword").val()
            if (pw !== '') {
                if (pw !== passwordnum) {
                    $('.signupseven .errors').eq('2').css('display', 'block')
                    $('.signupeight .errors').eq('2').css('display', 'block')
                    return false;
                } else {
                    $('.signupseven .errors').eq('2').css('display', 'none')
                    $('.signupeight .errors').eq('2').css('display', 'none')
                }
            }

        })
        $("#confirmPassword").on('blur',function () {
            var passwordnum = $(this).val()
            var pw = $("#password").val()
            if (pw !== passwordnum) {
                $('.signupseven .errors').eq('2').css('display', 'block')
                $('.signupeight .errors').eq('2').css('display', 'block')
                return false;
            } else {
                $('.signupseven .errors').eq('2').css('display', 'none')
                $('.signupeight .errors').eq('2').css('display', 'none')
            }
        })
        $("#vcode").on('blur', function () {
            var vcodes = $(this).val()
            var reg = vcodenum
            if (reg !== vcodes) {
                $('.signupthree .errors').eq('1').css('display', 'block')
                return false;
            } else {
                $('.signupthree .errors').eq('1').css('display', 'none')
            }
        })
        $('#ccode').on('click', function () {
            countdown();
            var phonenum = $("#phone").val()
            if (phonenum === '') {
                $('.signupfive .errors').eq('0').css('display', 'block');
                return false
            } else {
                $('.signupfive .errors').eq('0').css('display', 'none');

                $.post('/api/Api_ACCOUNT_A5_qryVerCode_merchant_Request', {
                    Regphonenumber: phonenum,
                    Accounttype: '5'
                }, function (res) {
                    pcodenum = res.pageList[0].vercode
                })
            }
        })
        $("#pcode").on('blur', function () {
            var pcodes = $(this).val()
            // if(typeof(pcodenum) === 'undefined') {
            //     zeroModal.error('请点击获取验证码')
            //     return false
            // }
            var reg = pcodenum
            if (reg !== pcodes) {
                $('.signupsex .errors').eq('1').css('display', 'block')
                return false;
            } else {
                $('.signupsex .errors').eq('1').css('display', 'none')
            }
        })
        $('#confirm').on('click', function () {
            $('.errors').css('display', 'none');
            var phone = $('#phone').val()
            var pcode = $('#pcode').val()
            var password = $('#password').val()
            var confirmPassword = $('#confirmPassword').val()
            var write = $('#write').is(':checked')
            var errornum = 0;
            if (phone == '') {
                $('.signupfive .errors').eq('0').css('display', 'block');
                errornum++;
            } else {
                $('.signupfive .errors').eq('0').css('display', 'none');
            }
            if (pcode == '' || typeof(pcodenum) === 'undefined') {
                $('.signupsex .errors').eq('0').css('display', 'block');
                errornum++;
            } else {
                $('.signupsex .errors').eq('0').css('display', 'none');
                if (pcode !== pcodenum) {
                    $('.signupsex .errors').eq('1').css('display', 'block')
                    return false;
                } else {
                    $('.signupsex .errors').eq('1').css('display', 'none')
                }
            }

            if (write !== true) {
                $('.signupnine .errors').css('display', 'block');
                errornum++;
            } else {
                $('.signupnine .errors').css('display', 'none');
            }

            if (password !== confirmPassword) {
                $('.signupeight .errors').eq('2').css('display', 'block')
                $('.signupnine  .errors').eq('2').css('display', 'block')
                errornum++;
            } else {
                if (password === '') {
                    $('.signupeight .errors').eq('0').css('display', 'block');
                    $('.signupnine .errors').eq('0').css('display', 'block');
                    errornum++;
                }
            }
            if (errornum > 0) {
                zeroModal.error('请核对无误,再提交')
                return false;
            } else {
                $('.part-signuptwo .errors').each(function () {
                    if ($(this).css("display") === 'block') {
                        zeroModal.error('请核对无误,再提交')
                        return false
                    }
                })
                var phone = $('#phone').val()
                           var pcode = $('#pcode').val()
                           var password = $('#password').val()
                var postdata = {
                    Regphonenumber: phone,
                    Vercode: '888888',
                    Password: password
                }
                //console.log(postdata)
                //console.log(nextData)
                $.post('/api/Api_MERCHANT_A5_reg_merchant_Apply_Request', Object.assign(postdata,nextData), function (res) {
                    console.log(res.status.resultcode)
                    if (res.status.resultcode === '0') {
                        zeroModal.success('提交成功,等待审核.')
                        setTimeout(function () {
                            window.location.href = '/store'
                        }, 1000)

                    }

                })
            }
        })*/