extends ../../layout
block head
    link(rel='stylesheet', href="/css/store.css")
block content
    include ../../include/header
    .container
            .content
                include ../../lSide
                .mainInclude
                    .m-content.clearfix
                        .page-title
                            span 已完成订单 >
                            span 订单详情
                        .main-container
                            .re_detail
                                .detail-content
                                    img(src='../img/u5098.png')
                                    .order-detail
                                        .con-title
                                            span 详细信息
                                        .content
                                            .con-line
                                                span 订单编号：123
                                                span 订单金额：123
                                            .con-line
                                                span 下单时间：123
                                                span 下单门店：123
                                                span 所使用虚拟卡：123
                                        .con-title
                                            span 用户信息
                                        .content
                                            .con-line
                                                span 购买者：123
                                                span 手机号码：123
                                        .con-title
                                            span 详细信息
                                        .content
                                            .con-line
                                                span 贷款总额：123
                                                span 佣金总额：123
                                                span 服务费总额：123
                                            .con-line
                                                span 实际到账金额：123
                                            .btn
                                                a(href='') 退款









