extends ../../layout
block head
    link(rel='stylesheet', href="/css/store.css")
    link(rel='stylesheet', href="/css/storeIndex.css")
block content
    include ../../include/header
    .container
            .content
                include ../../lSide
                .mainInclude
                    .m-content.clearfix
                        .page-title
                            span 操作员账户管理
                        .main-container
                                .mode-main
                                    .mt
                                        .extra
                                            .extra-l
                                                .ipt
                                                    span 管理员姓名：
                                                    input(type="text",value="")
                                                .ipt
                                                    span 操作员联系电话：
                                                    input(type="text",value="")
                                                .ipt
                                                    span 状态：
                                                    select
                                                        option 全部
                                                        option 通用信用支付卡
                                                        option 信用支付专项卡
                                                        option 分期支付专项卡
                                            .extra-r
                                                a.bpt.kfz.btn-danger(href="") 搜索
                                                a.bpt.kfz(href="") 重置
                                    .mc
                                        .site-tabl-link.extra(style="margin-top:30px")
                                            .extra-l
                                                .tabtn.green.add
                                                    i.addcz
                                                    | 添加操作员
                                            .extra-r
                                                .tabtn.danger.kfz 删除
                                                .tabtn.kfz 禁用
                                                .tabtn.verson.kfz 恢复
                                        .site-t-inner
                                            .mtable
                                                table.bord
                                                    thead
                                                        tr
                                                            th
                                                                input#all(type='checkbox')
                                                            th 操作员姓名
                                                            th 职位
                                                            th 身份证号
                                                            th 联系电话
                                                            th 操作
                                                            th 状态
                                                    tbody.xj
                                                        for list in CZYlist.pageList
                                                            tr
                                                                td
                                                                    input(type='checkbox')
                                                                td #{list.name}
                                                                - if (list.wtype=='0')
                                                                td 店长
                                                                td #{list.idcard}
                                                                td #{list.phonenumber}
                                                                td
                                                                    - var thref = list.aid
                                                                    a.see(href='javascript:;',onclick="hcdetail(this)",id=thref) 查看
                                                                td
                                                                    span.normal 暂无数据

    script.
        //全选效果
        $('#all').on('click', function () {
            $(".xj input[type='checkbox']").prop("checked", $("#all").prop("checked"));
        });
        $(".xj input[type='checkbox']").each(function () {
            $(this).on('click', function () {
                var allCheckNum = $(".xj input[type='checkbox']").length;
                var checkedNum = $(".xj input[type='checkbox']:checked").length;
                if (allCheckNum == checkedNum) {
                    $("#all").prop("checked", 'checked');//全被选中
                } else {
                    $("#all").prop("checked", '');//部分选中
                }
            })
        });

        $('.add').on('click', function(){
            zeroModal.show({
                title: '添加新的操作员账户',
                iframeId: 'addCzy',
                //iframe:true,
                url: 'czy_addPopup',
                width: '640px',
                height: '540px',
                buttons: [{
                    className: 'zeromodal-btn zeromodal-btn-primary',
                    name: '确认添加',
                    fn: function (opt) {
                        tijiao();
                        return false;
                    }
                }, {
                    className: 'zeromodal-btn zeromodal-btn-default',
                    name: '取消',
                    fn: function (opt) {
                    }
                }]
            });;
        })
        function hcdetail(a) {
            var aid = $(a).attr('id');
            zeroModal.show({
                title: '查看操作员详情',
                //iframe:true,
                url: '/store/operator/czy_CheckPopup?drft='+aid,
                width: '640px',
                height: '600px',
                buttons: [{
                    className: 'zeromodal-btn zeromodal-btn-primary',
                    name: '确定',
                    fn: function (opt) {
                        tijiao();
                        return false;
                    }
                }]
            })
        }




