extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 贷后中心 /
                        span.last  催收计划管理
                    .main-container
                        .pagecont
                            .cs_plan
                                .plan-top
                                    span.add 新建催收计划
                                    span.del 移除
                                .plan-content
                                    table
                                        thead
                                            tr
                                                th(width='8%')
                                                    .check
                                                        input#all(type='checkbox')
                                                        .check-icon
                                                th(width='13.14%') 计划名称
                                                th(width='13.14%') 逾期时间段
                                                th(width='13.14%') 催收方式
                                                th(width='13.14%') 催收组
                                                th(width='13.14%') 催收组长
                                                th(width='13.14%') 操作
                                        tbody.plan-check
                                            tr
                                                td
                                                    .check
                                                        input(type='checkbox')
                                                        .check-icon
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td
                                                    a.editPopup 修改催收计划
                                            tr
                                                td
                                                    .check
                                                        input(type='checkbox')
                                                        .check-icon
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td
                                                    a.editPopup 修改催收计划
                                            tr
                                                td
                                                    .check
                                                        input(type='checkbox')
                                                        .check-icon
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td
                                                    a.editPopup 修改催收计划

    style.
        .zeromodal-header {
            text-align: center;
            height: 59px;
            line-height: 59px;
            background: #E63F46;
            color: #fff;
        }

        .zeromodal-close {
            background: url("../../img/close.png") no-repeat;
            background-size: 100% 100%;
        }

        .zeromodal-btn-primary {
            background: #E63F46;
        }
    script.
        $(function(){
            $('.check input').on('click', function(){
                if($(this).siblings().hasClass('active')){
                    $(this).siblings().removeClass('active');
                }else{
                    $(this).siblings().addClass('active');
                }

            })
            //全选效果
            $('#all').on('click', function () {
                $(".plan-check input[type='checkbox']").prop("checked", $("#all").prop("checked"));
                if($("#all[type='checkbox']").is(':checked')){//判断#all是否被选中，如果选中则添加选中效果
                    $('.check input').siblings().addClass('active');
                }else{
                    $('.check input').siblings().removeClass('active');
                }
            });
            $(".plan-check input[type='checkbox']").each(function () {
                $(this).on('click', function () {
                    var allCheckNum = $(".plan-check input[type='checkbox']").length;
                    var checkedNum = $(".plan-check input[type='checkbox']:checked").length;
                    if (allCheckNum == checkedNum) {
                        $("#all").prop("checked", 'checked').siblings().addClass('active');//全被选中时给#all添加选中效果
                    } else {
                        $("#all").prop("checked", '').siblings().removeClass('active');//部分选中时删除#all的选中效果
                    }
                })
            });

            //    移除按钮弹出窗
            $('.del').on('click', function(){
                zeroModal.show({
                    title: '删除提示',
                    content: "<span style=\'display:block;text-align: center;margin-top: 40px;font-size: 18px;color: #433C3C;\'>确定删除已选中的催收计划？</span>",
                    ok: true,
                    cancel: true,
                    okFn: function () {
                        alert(1)
                    }
                })
            });
            //   新建催收计划弹窗
            $('.add').on('click', function(){
                zeroModal.show({
                    title: '新建催收计划',
                    url: 'cs_plan_addPopup',
                    width: '430px',
                    height: '500px'
                })
            })
            //   新建催收计划弹窗
            $('.editPopup').on('click', function () {
                zeroModal.show({
                    title: '修改催收计划',
                    url: 'cs_plan_editPopup',
                    width: '430px',
                    height: '500px'
                })
            })

        })
