extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 贷后中心 /
                        span.last  催收团队设置
                    .main-container
                        .pagecont
                            .cs_plan.cs_team
                                .plan-top
                                    span.add 添加团队
                                    span.del 删除团队
                                .plan-content
                                    table
                                        thead
                                            tr
                                                th(width='8%')
                                                    .check
                                                        input#all(type='checkbox')
                                                        .check-icon
                                                th(width='13.14%') 团队名称
                                                th(width='13.14%') 组长
                                                th(width='13.14%') 成员
                                                th(width='13.14%') 备注
                                                th(width='13.14%') 成员管理
                                                th(width='13.14%') 操作
                                        tbody.plan-check
                                            tr
                                                td
                                                    .check
                                                        input(type='checkbox')
                                                        .check-icon
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td
                                                    a.member 成员管理
                                                    a.leader 任命组长
                                                td
                                                    a(href='') 修改成员信息
                                            tr
                                                td
                                                    .check
                                                        input(type='checkbox')
                                                        .check-icon
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td 暂无数据
                                                td
                                                    a.member 成员管理
                                                td
                                                    a(href='') 修改成员信息

    style.
        .zeromodal-header {
            text-align: center;
            height: 59px;
            line-height: 59px;
            background: #E63F46;
            color: #fff;
        }

        .zeromodal-close {
            background: url("../../img/close.png") no-repeat;
            background-size: 100% 100%;
        }

        .zeromodal-btn-primary {
            background: #E63F46;
        }
    script.
        $(function(){
            $('.check input').on('click', function(){
                if($(this).siblings().hasClass('active')){
                    $(this).siblings().removeClass('active');
                }else{
                    $(this).siblings().addClass('active');
                }

            })
            //全选效果
            $('#all').on('click', function () {
                $(".plan-check input[type='checkbox']").prop("checked", $("#all").prop("checked"));
                if($("#all[type='checkbox']").is(':checked')){//判断#all是否被选中，如果选中则添加选中效果
                    $('.check input').siblings().addClass('active');
                }else{
                    $('.check input').siblings().removeClass('active');
                }
            });
            $(".plan-check input[type='checkbox']").each(function () {
                $(this).on('click', function () {
                    var allCheckNum = $(".plan-check input[type='checkbox']").length;
                    var checkedNum = $(".plan-check input[type='checkbox']:checked").length;
                    if (allCheckNum == checkedNum) {
                        $("#all").prop("checked", 'checked').siblings().addClass('active');//全被选中时给#all添加选中效果
                    } else {
                        $("#all").prop("checked", '').siblings().removeClass('active');//部分选中时删除#all的选中效果
                    }
                })
            });


            //   新建团队弹窗
            $('.add').on('click', function () {
                zeroModal.show({
                    title: '添加团队',
                    url: 'team_addPopup',
                    width: '430px',
                    height: '450px'
                })
            })

            //    删除团队弹出窗
            $('.del').on('click', function(){
                zeroModal.show({
                    width: '410px',
                    height: '247px',
                    title: '删除提示',
                    content: "<span style=\'display:block;text-align: center;margin-top: 40px;font-size: 18px;color: #433C3C;\'>确定删除选中团队？</span>",
                    ok: true,
                    cancel: true,
                    okFn: function () {
                        alert(1)
                    }
                })
            });


            //  任命组长
            $('.leader').on('click', function(){
                zeroModal.show({
                    width: '430px',
                    height: '260px',
                    title: '任命组长',
                    content: "<div class=\'fp-task\'><div class=\'title\'><span>任命组长：</span><select><option>请选择</option></select></div><div class=\'btn\'>确定</div></div>"
                })
            })

            $('.member').on('click', function(){
                zeroModal.show({
                    width: '616px',
                    height: '500px',
                    url: 'team_memberPopup',
                    title: '成员管理',
                })
            })

        })
