extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
    script(src='../../js/tab.js')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 贷后中心 /
                        span.last  已催回的催收任务
                    .main-container
                        .pagecont
                            .cs-ych.tab-confirm
                                .invite-top
                                    ul.tab-hitle
                                        li 短信催回的任务
                                        li 人工催回的任务
                                .tab-panel.cs-dfp
                                    .tab-item.message
                                        .invite-con
                                            .i-c-top
                                                .t-line
                                                    span 账单编号
                                                    input(type='text', placeholder='请输入编号')
                                                .t-line
                                                    span 用户姓名
                                                    input(type='text', placeholder='请输入名称')
                                                .t-line
                                                    span 用户手机号
                                                    input(type='text', placeholder='请输入手机号')
                                                .t-line
                                                    span 所属卡片名称
                                                    input(type='text', placeholder='输入名称')
                                                .t-line
                                                    span.sea 搜索
                                                    span.reset 重置
                                        .dfp-content
                                            ul
                                                li.first 序号
                                                li 用户姓名
                                                li 用户手机号
                                                li 所属卡片名称
                                                li 应还金额
                                                li 滞纳金金额
                                                li 逾期天数
                                                li 状态
                                                li 催收日志
                                                li 操作
                                            .con-list
                                                table
                                                    caption
                                                        span.bh 任务编号：2016081514432586
                                                        span.num 账单编号：2016081514432586
                                                        span.time 账单到期日：2017-10-12
                                                    tbody
                                                        tr
                                                            td.first
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 待分配
                                                            td
                                                                a(href='') 查看日志
                                                            td
                                                                a(href='cs_ych_message') 查看详情
                                                table
                                                    caption
                                                        span.bh 任务编号：2016081514432586
                                                        span.num 账单编号：2016081514432586
                                                        span.time 账单到期日：2017-10-12
                                                    tbody
                                                        tr
                                                            td.first
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 待分配
                                                            td
                                                                a(href='') 查看日志
                                                            td
                                                                a(href='cs_ych_message') 查看详情
                                    .tab-item.artificial
                                        .invite-con
                                            .i-c-top
                                                .t-line
                                                    span 账单编号
                                                    input(type='text', placeholder='请输入编号')
                                                .t-line
                                                    span 用户姓名
                                                    input(type='text', placeholder='请输入名称')
                                                .t-line
                                                    span 用户手机号
                                                    input(type='text', placeholder='请输入手机号')
                                                .t-line
                                                    span 所属卡片名称
                                                    input(type='text', placeholder='输入名称')
                                                .t-line
                                                    span.sea 搜索
                                                    span.reset 重置
                                        .dfp-content
                                            ul
                                                li.first 序号
                                                li 用户姓名
                                                li 用户手机号
                                                li 所属卡片名称
                                                li 应还金额
                                                li 滞纳金金额
                                                li 逾期天数
                                                li 状态
                                                li 催收员
                                                li 催收日志
                                                li 操作
                                            .con-list
                                                table
                                                    caption
                                                        span.bh 任务编号：2016081514432586
                                                        span.num 账单编号：2016081514432586
                                                        span.time 账单到期日：2017-10-12
                                                    tbody
                                                        tr
                                                            td.first
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 待分配
                                                            td 张三
                                                            td
                                                                a(href='') 查看日志
                                                            td
                                                                a(href='cs_ych_artificial') 查看详情
                                                table
                                                    caption
                                                        span.bh 任务编号：2016081514432586
                                                        span.num 账单编号：2016081514432586
                                                        span.time 账单到期日：2017-10-12
                                                    tbody
                                                        tr
                                                            td.first
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 暂无数据
                                                            td 待分配
                                                            td 张三
                                                            td
                                                                a(href='') 查看日志
                                                            td
                                                                a(href='cs_ych_artificial') 查看详情
    script.
        $(function(){
            // console.log($('.message table').length);
            sort($('.message'));
            sort($('.artificial'));
            function sort(className) { // 封装循环的序号
                var length = className.find('table').length
                var numArray = []
                for(var i = 0; i < length; i++){
                    numArray[i] = i
                }
                className.find('td.first').each(function (i) {
                    $(this).html(numArray[i]+1)
                });

            }
        })