extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 贷后中心 /
                        a(href="javascript:history.go(-1)")  已催回的催收任务 /
                        span.last  短信催回的任务详情
                    .main-container
                        .pagecont
                            .shz-detail
                                .detail-content
                                    .order-detail
                                        .or-top 用户信息
                                        ul
                                            li
                                                span 购买者：
                                                .info 彭大帅
                                            li
                                                span 手机号码：
                                                .info 18954782547
                                        .or-btm
                                            a(href='') 查看用户详细信息
                                    .order-detail
                                        .or-top 账单信息
                                        ul
                                            li
                                                span 账单账号：
                                                .info 26565448856
                                            li
                                                span 信用支付/分期支付/账单分期
                                                .info 信用支付/分期支付/账单分期
                                            li
                                                span 账单所属卡片名称：
                                                .info 赫美轻奢卡片
                                            li
                                                span 应还金额：
                                                .info 3000.00
                                            li
                                                span 滞纳金金额：
                                                .info 230.00
                                            li
                                                span 账单到期时间：
                                                .info 2017-06-28（逾期5天）
                                        .or-btm
                                            a(href='') 查看详情
                                    .order-detail
                                        .or-top 催收任务信息
                                        ul
                                            li
                                                span 任务编号：
                                                .info 26565448856
                                            li
                                                span 状态：
                                                .info 已催回
                                    .order-detail
                                        .or-top 催收计划信息
                                        ul
                                            li
                                                span 催收计划名称：
                                                .info 3-10天内催收
