extends ../../layout

block head
    link(rel='stylesheet', href='/css/CardIndex.css')
block content
    .team-addPopup
        .addLine
            .line-top
                span 团队名称
                span.right 请输入团队名称
            .line-con
                input(type='text')
        .addLine
            .line-top
                span 备注
            .line-con
                textarea
        .btn 确定添加


    style.
        .zeromodal-header {
            text-align: center;
            height: 59px;
            line-height: 59px;
            background: #E63F46;
            color: #fff;
        }

        .zeromodal-close {
            background: url("../../img/close.png") no-repeat;
            background-size: 100% 100%;
        }