extends ../../layout

block head
    link(rel='stylesheet', href='/css/CardIndex.css')
block content
    .memberPopup
        .mem-line.first
            .mem-top 可添加催收成员
            ul
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 李四 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特
                li
                    .mem-icon
                    input(type='checkbox')
                    span 张三 · 布莱恩特

        .mem-line.two
            .mem-add 添加
            .mem-del 移除
        .mem-line.three
            .mem-top 该团队已有成员
            ul
        .btn
            a 确定



    style.
        .zeromodal-header {
            text-align: center;
            height: 59px;
            line-height: 59px;
            background: #E63F46;
            color: #fff;
        }

        .zeromodal-close {
            background: url("../../img/close.png") no-repeat;
            background-size: 100% 100%;
        }

    script.
        $(function(){
            //  选中效果
            $('ul li').on('click', function () {
                if ($(this).find('input').is(':checked')) {//判断input是否被选中，如果选中则添加选中效果
                    $(this).find('input').prop("checked", '')
                } else {
                    $(this).find('input').prop("checked", 'checked')
                }

                //  添加选中效果
                if ($(this).find('span').siblings('.mem-icon').hasClass('active')) {
                    $(this).find('span').siblings('.mem-icon').removeClass('active');
                } else {
                    $(this).find('span').siblings('.mem-icon').addClass('active');
                }
            })

            // 添加
            $('.mem-add').on('click', function(){
                $(".first input[type='checkbox']").each(function () {
                    if ($(this).is(':checked')) {// 被选中项
                        $('.three ul').append(this.closest('li'));// 添加到three ul 中
                    } else {// 未被选中项
                        // console.log(2);
                    }
                })
            })

            //
            $('.mem-del').on('click', function () {
                $(".three input[type='checkbox']").each(function () {
                    if ($(this).is(':checked')) {// 被选中项
                        $('.first ul').append(this.closest('li'));// 添加到three ul 中
                    } else {// 未被选中项
                        // console.log(2);
                    }
                })
            })

        })