extends ../layout

block head
    link(rel='stylesheet', href='/css/CardIndex.css')
block content
    include ../include/card_header
    .container
        .content
            include ../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span /
                        span.last  首页
                    .main-container
                        .pagecont
                            .cardIndex
                                .c-t-list
                                    ul
                                        li
                                            a(href='')
                                                img(src='../../img/ic1.png')
                                                .c-l-title
                                                    h4 新消息通知
                                                    span.active 暂无新消息
                                                    span 有2条新消息
                                                .notice 2
                                        li
                                            a(href='')
                                                img(src='../../img/ic2.png')
                                                .c-l-title
                                                    h4 新消息通知
                                                    span.active 暂无新消息
                                                    span 有2条新消息
                                                .notice 2
                                        li
                                            a(href='')
                                                img(src='../../img/ic3.png')
                                                .c-l-title
                                                    h4 新合作参数变更申请
                                                    span.active 暂无新消息
                                                    span 有2条新消息
                                                .notice 2
                                        li
                                            a(href='')
                                                img(src='../../img/ic4.png')
                                                .c-l-title
                                                    h4 新系统外特权激活
                                                    span.active 暂无新消息
                                                    span 有2条新消息
                                                .notice 2
                                        li
                                            a(href='')
                                                img(src='../../img/ic5.png')
                                                .c-l-title
                                                    h4 新申请消息
                                                    span.active 暂无新消息
                                                    span 有2条新消息
                                                .notice 2
                                        li
                                            a(href='')
                                                img(src='../../img/ic6.png')
                                                .c-l-title
                                                    h4 新交易邀约
                                                    span.active 暂无新消息
                                                    span 有2条新消息
                                                .notice 2
                                        li
                                            a(href='')
                                                img(src='../../img/ic7.png')
                                                .c-l-title
                                                    h4 新退款记录
                                                    span.active 暂无新消息
                                                    span 有2条新消息
                                                .notice 2
                                        li
                                            a(href='')
                                                img(src='../../img/ic8.png')
                                                .c-l-title
                                                    h4 新还款记录
                                                    span.active 暂无新消息
                                                    span 有2条新消息
                                                .notice 2
                                .c-b-bill
                                    .bill-line.bl1
                                        .b-top
                                            span 到期账单
                                        .b-btm
                                            .b-content
                                                h4 65
                                                span 总笔数
                                            .b-content
                                                h4 12345678
                                                span 总金额(元)
                                    .bill-line.bl2
                                        .b-top
                                            span 逾期账单
                                        .b-btm
                                            .b-content
                                                h4 65
                                                span 总笔数
                                            .b-content
                                                h4 12345678
                                                span 总金额(元)

