extends ../layout

block head
    link(rel='stylesheet', href='/css/CardIndex.css')
block content
    include ../include/card_header
    .container
        .content
            include ../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                    .main-container
                        .pagecont
                            .bindPhone
                                .step
                                    .s-left
                                        .s-line
                                    .s-right
                                        .s-line
                                    .circle.s-one.active 1
                                        .title 验证身份
                                    .circle.s-two 2
                                        .title 设置新密码
                                    .circle.s-three 3
                                        .title 完成

                                .bindMoudel
                                    ul.first
                                        li
                                            .prompt
                                                img(src='../../img/ts.png')
                                                | 为保证您的账号安全，修改密码前请进行身份验证
                                        li
                                            span 绑定手机：
                                            #phone #{username}
                                            a(data-value='61').send#ccode 发送验证码
                                        li
                                            span 验证码：
                                            input(type='text' placeholder='请输入验证码' autocomplete="off" )#pcode
                                            i.errors 请输入验证码
                                            i.errors 您输入的验证码不正确
                                        li
                                            .btn.btn01 确定
                                    ul.second.active
                                        li
                                            .prompt
                                                img(src='../../img/ts.png')
                                                | 请确保您输入的手机能正常接收激活邮件，手机才能生效。
                                        li.second-one
                                            span 新密码：
                                            input.pwd.password(type='password' placeholder='请输入新密码' autocomplete="off" maxlength="18")#password
                                            i.errors 请输入新的登录密码
                                            i.errors 您输入的登录密码不符合要求
                                            i.errors 两次输入的登录密码不一致，请重新输入
                                        li.second-two
                                            span 确认密码：
                                            input.pwd.pwdAgain(type='password' placeholder='请再次输入新密码' autocomplete="off" maxlength="18")#confirmPassword
                                            i.errors 请输入登录密码
                                            i.errors 您输入的登录密码不符合要求
                                            i.errors 两次输入的登录密码不一致，请重新输入
                                        li
                                            .btn.btn02 确定
                                    .success.active
                                        .pic
                                            img(src='../../img/succ.png')
                                        p
                                            | 恭喜您
                                            span 修改密码成功！
                                            | 请使用新手机重新登录
                                        .btnLogin
                                            a(href='') 重新登录
                                    .btm
                                        h3 没收到手机校验码？
                                        p 1、网络通讯异常可能会造成邮件丢失，请重新获取或稍后再试。
                                        p 2、请核实手机是否正常使用，并检查垃圾手机夹。
    script.
        $(function () {
            $("input").on('focus', function () {
                $(this).siblings('.errors').css('display', 'none')
            })
            $("#password").on('focus', function () {
                $("#confirmPassword").siblings('.errors').css('display', 'none')
            })
            $("#confirmPassword").on('focus', function () {
                $("#password").siblings('.errors').css('display', 'none')
            })

        })
        $('#ccode').on('click', function () {
            countdown();
            var phonenum = $("#phone").text()
            $.post('/api/Api_ACCOUNT_A5_qryVerCode_cardmerchant_Request', {
                Regphonenumber: phonenum,
                Accounttype: '3'
            }, function (res) {
                console.log(res.status.resultcode)
                pcodenum = res.pageList[0].vercode
            })
        });
        $("#pcode").on('blur', function () {
            var pcodes = $(this).val()
            // if (typeof(pcodenum) === 'undefined') {
            //     zeroModal.error('请点击获取验证码')
            //     return false
            // }
            var reg = pcodenum
            if (reg !== pcodes) {
                $('.first .errors').eq('1').css('display', 'block')
                return false;
            } else {
                $('.first .errors').eq('1').css('display', 'none')
            }
        })
        $('.btn01').on('click', function () {
            $('.errors').css('display', 'none');
            var pcode = $('#pcode').val()
            var errornum = 0;
            if (pcode == '' || typeof(pcodenum) === 'undefined') {
                $('.first .errors').eq('0').css('display', 'block');
                errornum++;
            } else {
                $('.first .errors').eq('0').css('display', 'none');
                if (pcode !== pcodenum) {
                    $('.first .errors').eq('1').css('display', 'block')
                    return false;
                } else {
                    $('.first .errors').eq('1').css('display', 'none')
                }
            }
            if (errornum > 0) {
                return false;
            } else {
                $('.first .errors').each(function () {
                    if ($(this).css("display") === 'block') {
                        zeroModal.error('请核对无误,再提交')
                        return false
                    }
                })
                $('ul.first').addClass('active');
                $('ul.second').removeClass('active');
                $('.s-left .s-line').addClass('active');
                $('.s-two').addClass('active');
            }
        })
    script.
        $("#password").on('blur', function () {
            var passwordnum = $(this).val()
            var reg = /^[A-Z][a-zA-Z0-9]{7,17}$/;
            var isok = reg.test(passwordnum);
            if (!isok) {
                $('.second-one .errors').eq('1').css('display', 'block')
                return false;
            } else {
                $('.second-one .errors').eq('1').css('display', 'none')
            }
            var pw = $("#confirmPassword").val()
            if (pw !== '') {
                if (pw !== passwordnum) {
                    $('.second-one .errors').eq('2').css('display', 'block')
                    // $('.second-two  .errors').eq('2').css('display', 'block')
                    return false;
                } else {
                    $('.second-one  .errors').eq('2').css('display', 'none')
                    // $('.second-two  .errors').eq('2').css('display', 'none')
                }
            }

        })
        $("#confirmPassword").on('blur', function () {
            var passwordnum = $(this).val()
            var pw = $("#password").val()
            if (pw !== passwordnum) {
                // $('.second-one .errors').eq('2').css('display', 'block')
                $('.second-two  .errors').eq('2').css('display', 'block')
                return false;
            } else {
                // $('.second-one .errors').eq('2').css('display', 'none')
                $('.second-two  .errors').eq('2').css('display', 'none')
            }
        })
        $('.btn02').on('click', function () {
            $('.errors').css('display', 'none');
            var pcode = $('#pcode').val()
            if (pcode !== pcodenum) {
                zeroModal.error('需要验证码')
                return false;
            }

            var password = $('#password').val()
            var confirmPassword = $('#confirmPassword').val()

            var errornum = 0;

            // if (password === '') {
            //     $('.second-one .errors').eq('0').css('display', 'block');
            //     errornum++;
            // } else {
            //     $('.second-one .errors').eq('0').css('display', 'none');
            // }
            if(password !== confirmPassword) {
                $('.second-one .errors').eq('2').css('display', 'block')
                $('.second-two  .errors').eq('2').css('display', 'block')
                errornum++;
            } else {
                if (password === '') {
                    $('.second-one .errors').eq('0').css('display', 'block');
                    $('.second-two .errors').eq('0').css('display', 'block');
                    errornum++;
                }
            }
            if (errornum > 0) {
                return false;
            } else {
                $('.second .errors').each(function () {
                    if ($(this).css("display") === 'block') {
                        zeroModal.error('请核对无误,再提交')
                        return false
                    }
                })
                var aid = '#{loginaid}'
                $.post('/api/Api_ACCOUNT_A5_changePassword_Request', {Password : password, Aid : aid}, function (res) {
                    console.log(res.status.resultcode)
                    // if(res.status.resultcode === '0'){
                    //     $('.s-right .s-line').addClass('active');
                    //     $('.s-three').addClass('active');
                    //     $('ul.second').addClass('active');
                    //     $('.btm').addClass('active');
                    //     $('.success').removeClass('active');
                    //     $.post('/api/loginout', function (data) {
                    //         if (data === '1') {
                    //             window.location.reload()
                    //         } else {
                    //             zeroModal.error('网络异常')
                    //         }
                    //
                    //     }).error(function () {
                    //         zeroModal.error('网络异常');
                    //     });
                    // }
                })
            }
        })
        function countdown() {
            var timedown = window.setInterval(function () {
                var a = $('#ccode').data('value')
                var b = a - 1
                $('#ccode').data('value', b)
                $('#ccode').addClass('type')
                $('#ccode').text(b + '秒后重新获取')
                if (a === 1) {
                    window.clearInterval(timedown)
                    $('#ccode').text('获取验证码')
                    $('#ccode').data('value', '61')
                    $('#ccode').removeClass('type')
                }
            }, 1000);

        }