.bindPhone
    .step
        .s-left
            .s-line
        .s-right
            .s-line
        .circle.s-one.active 1
            .title 验证身份
        .circle.s-two 2
            .title 绑定新手机
        .circle.s-three 3
            .title 完成

    .bindMoudel
        ul.first
            li
                .prompt
                    img(src='../img/ts.png')
                    | 为保证您的账号安全，更换手机前请进行身份验证
            li
                span 绑定手机：
                | 12312312312
                a.send 发送验证码
            li
                span 验证码：
                input(type='text' placeholder='请输入验证码')#pcode
                i 请输入验证码
                i 您输入的验证码不正确
            li
                .btn.btn01 确定
        ul.second.active
            li
                .prompt
                    img(src='../img/ts.png')
                    | 请确保您输入的手机能正常接收激活邮件，手机才能生效。
            li
                span 手机：
                input.phone(type='phone' placeholder='请输入新手机号')
                i 请输入手机号
                i 您填写的手机已注册，请重新填写
                i 您输入的手机号不中确
            li
                a.s-send 发送验证码
            li
                span 验证码：
                input(type='text' placeholder='6位数字')
                i 请输入验证码
                i 您输入的验证码不正确
            li
                .btn.btn02 确定
        .success.active
            .pic
                img(src='../img/succ.png')
            p
                | 恭喜您
                span 修改绑定手机成功！
                | 请使用新手机重新登录
            .btnLogin
                a(href='') 重新登录
        .btm
            h3 没收到手机校验码？
            p 1、网络通讯异常可能会造成邮件丢失，请重新获取或稍后再试。
            p 2、请核实手机是否正常使用，并检查垃圾手机夹。

    script.
        $(function(){
            $('.btn01').on('click', function () {
                $('ul.first').addClass('active');
                $('ul.second').removeClass('active');
                $('.s-left .s-line').addClass('active');
                $('.s-two').addClass('active');
            });
            $('.btn02').on('click', function () {
                $('.s-right .s-line').addClass('active');
                $('.s-three').addClass('active');
                $('ul.second').addClass('active');
                $('.btm').addClass('active');
                $('.success').removeClass('active');
            });
        })






