.header.card-header
    .head-content
        .header-top
            .wrap
                .con-top
                    span 欢迎您,
                    span.user #{username}
                    a#loginout 退出
                    a.help(href='')
                        i
                        | 帮助中心

        .con-btm.clearfix
            .pic
                img(src='../../img/web-LOGO.png')
            .head-nav
                ul
                    li
                        a.active(href='/card') 首页
                    li
                        a(href='') 消息中心
                    li
                        a(href='/card/security/security_center') 安全中心
                    li
                        a(href='') 统计中心
                    li
                        a(href='') 帮助中心
    script.
        $('#loginout').on('click', function () {
            $.post('/api/loginout', function (data) {
                if (data === '1') {
                    window.location.reload()
                } else {
                    zeroModal.error('网络异常')
                }

            }).error(function () {
                zeroModal.error('网络异常');
            });
        })