extends ../layout
block head
    link(rel='stylesheet',href="/css/store.css")
block content
    .container
        .wrap
            .content
                include ../lSide
                .mainInclude
                    .m-content.clearfix
                        .page-title 消息中心
                        .mode-main
                            .mt
                                ul.extra-l
                                   li
                                     a(href="",class="txt curr") 已读
                                   li
                                     a(href="",class="txt") 未读
                            .mc
                                .messageBox
                                    .item
                                        .tit 系统通知
                                        .time 今日 16:35:38
                                        .icont.clearfix
                                            .mImg
                                                img(src="../img/succ.png")
                                            .mWord
                                                p 您下属子账户今日业务办理总量已达上限，现已临时禁用您账户的部分功能，明日0:00恢复。
                                                p 温馨提示：如对本通知内容有异议，您可以联系0571-22222333。
                                    .item
                                        .tit 系统通知
                                        .time 今日 16:35:38
                                        .icont.clearfix
                                            .mImg
                                                img(src="../img/succ.png")
                                            .mWord
                                                p 您下属子账户今日业务办理总量已达上限，现已临时禁用您账户的部分功能，明日0:00恢复。
                                                p 温馨提示：如对本通知内容有异议，您可以联系0571-22222333。



