extends ../../layout

block head
    link(rel='stylesheet', href='/css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span /
                        span.last  资金账户管理
                    .main-container
                        .pagecont
                            .asset_account
                                .asset-con
                                    .asset-con-title 您还没有绑定资金账户
                                    .asset-con-btn
                                        a.asset_bd 立即绑定

    script.
        $('.asset_bd').on('click', function(){
            // zeroModal.show({
            //     title: '绑定资金账户',
            //     url: 'asset_acc_popup',
            //
            // })
            zeroModal.alert("功能开发中")
        })
