extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 账单中心 /
                        span.last  已到期账单管理
                    .main-container
                        .pagecont
                            .consum.bill
                                .consum-top
                                    .c-t-lin
                                        ul
                                            li
                                                span 账单编号
                                                input(type='text', placeholder='请输入编号')
                                            li
                                                span 用户姓名
                                                input(type='text', placeholder='请输入名称')
                                            li
                                                span 用户手机号
                                                input(type='text', placeholder='请输入手机号')
                                    .c-t-lin
                                        ul
                                            li
                                                span 所属卡片名称
                                                input(type='text', placeholder='请输入名称')
                                            li
                                                span 账单类型
                                                select
                                                    option 请选择
                                            li(style='padding-left:50px;')
                                                a.sear 搜索
                                                a 重置


                                .consum-con
                                    ul
                                        li 用户姓名
                                        li 用户手机号
                                        li 所属卡片名称
                                        li 应还金额
                                        li 当期/总分期数
                                        li 账单类型
                                        li 操作
                                    table
                                        caption
                                            span 下单时间：2017-03-13  14:43
                                            span.bh 订单编号：2016081514432586
                                        tbody
                                            tr
                                                td 123
                                                td 123
                                                td 123
                                                td 123
                                                td 123
                                                td 账单分期账单
                                                td
                                                    a(href='bill_ydq_detail') 查看详情
                                    table
                                        caption
                                            span 下单时间：2017-03-13  14:43
                                            span.bh 订单编号：2016081514432586
                                        tbody
                                            tr
                                                td 123
                                                td 123
                                                td 123
                                                td 123
                                                td 123
                                                td 分期支付账单
                                                td
                                                    a(href='bill_ydq_detail') 查看详情