extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 账单中心 /
                        a(href='javascript:history.go(-1)')  未到期账单管理 /
                        span.last  未到期账单详情
                    .main-container
                        .pagecont
                            .shz-detail.consum_shz_detail
                                .del-top
                                    img(src='../../img/wdq@2x.png')
                                    span 该笔账单未到期！
                                .detail-content
                                    .order-detail
                                        .or-top 用户信息
                                        ul
                                            li
                                                span 用户姓名：
                                                .info 彭大石
                                            li
                                                span 手机号码：
                                                .info 13282772823
                                            li
                                        .or-btm
                                            a(href='') 查看用户详细信息
                                    .order-detail
                                        .or-top 还款信息
                                        ul
                                            li
                                                span 账单编号：
                                                .info 26565448856
                                            li
                                                span 账单所属卡片名称：
                                                .info 赫美轻奢卡片
                                            li
                                                span 应还金额：
                                                .info 249.98元
                                            li
                                                span 当期/总分期：
                                                .info 1期/6期
                                            li
                                                span 账单到期时间：
                                                .info 2017-10-10
                                            li
                                                span 状态：
                                                .info 未到期
                                    .order-detail
                                        .or-top 消费信息
                                        ul
                                            li
                                                span 分期订单编号：
                                                .info 34365779807
                                            li
                                                span 分期金额：
                                                .info 3000.00元
                                            li
                                                span 分期时间：
                                                .info 2017-18-12 12：34：23
                                        .or-btm
                                            a(href='') 查看详细信息