extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
    script(type="text/javascript", charset="utf-8", src="/ueditor/ueditor.config.js")
    script(type="text/javascript", charset="utf-8", src="/ueditor/ueditor.all.min.js")
    script(type="text/javascript", charset="utf-8", src="/ueditor/lang/zh-cn/zh-cn.js")
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 虚拟卡中心 /
                        a(href='javascript:history.go(-1)')  卡片管理 /
                        span.last  卡片信息
                    .main-container
                        .pagecont
                            .cardDetail
                                .de-line
                                    h4 虚拟卡信息：
                                    ul
                                        li.de-first
                                            span.de-title 虚拟卡logo：
                                            .pic
                                                img(src='../../img/ciri.jpg')
                                        li
                                            span.de-title 卡片名称：
                                            | 轻奢虚拟卡
                                        li
                                            span.de-title 预估额度：
                                            | 123123
                                        li
                                            span.de-title 申请条件：
                                            | 年龄在18-35之间
                                        li
                                            span.de-title 应用范围：
                                            | 服饰、数码3C
                                        li
                                            span.de-title 卡片类型：
                                            | 信用支付
                                        li
                                            span.de-title 卡片简介：
                                            | 该卡片是**公司旗下产品，目前主要用于........
                                .de-line
                                    h4 协议管理：
                                    .agreement
                                        .ag-top
                                            a.zxsq.active 征信授权协议
                                            a.yhsx 用户授信额度协议
                                            a.ht 借款合同
                                        .ag-content
                                            .editor.active
                                                #editor01(type="text/plain", style="width:100%;height:500px;")
                                            .editor
                                                #editor02(type="text/plain", style="width:100%;height:500px;")
                                            .editor
                                                #editor03(type="text/plain", style="width:100%;height:500px;")
                                .de-line
                                    h4 息费设置：
                                    ul
                                        li
                                            span.de-title 账单统计起始日：
                                            | 60天
                                        li
                                            span.de-title 账单统计期时长：
                                            | 6号
                                        li
                                            span.de-title 账单统计截止日到账单日之间的时长：
                                                i （不可小于8日）
                                            | 16号
                                        li
                                            span.de-title 账账单日到账单到期日之间的时长：
                                            | 16号
                                        li
                                            span.de-title 账单宽限天数：
                                            | 16号
                                        li
                                            span.de-title 可分期期数及费率：
                                            | 8%/期（分3期）、6%/期（分6期）、5%/期（分9期）、4%/期（分12期）、3%/期（分18期）、1.8%/期（分24期）
                                        li
                                            span.de-title 分期后逾期费率：
                                            | 5%/天
                                .de-line
                                    h4 失效规则设置：
                                    ul
                                        li
                                            span.de-title 卡片的有效期：
                                            | 30天
                                .de-line
                                    h4 最低单笔消费：
                                    ul
                                        li
                                            span.de-title 单笔最低消费不能低于：
                                            | 1000.00元
                                .de-line
                                    h4 会员费设置：
                                    ul
                                        li
                                            span.de-title 会员费金额：
                                            | 0.00元
                                        li
                                            span.de-title 会员费收取方式：
                                            | 在用户申卡后的 第3个 账单统计期中收取
                                        li
                                            span.de-title 会员费收取频率：
                                            | 每隔 6 个账单统计期收取一次
                                .de-line
                                    h4 特权政策：
                                    .privilege
                                        h5 系统内特权：
                                        table
                                            thead
                                                tr
                                                    th(width='45%') 特权信息
                                                    th(width='45%') 激活条件
                                            tbody
                                                tr
                                                    td 减免第3次会员费，减免30%
                                                    td 申卡后3个月内，总使用次数达到3次
                                                tr
                                                    td 分期息费减免-永久，减免40%
                                                    td 分期次数达到10次以上
                                        h5 系统外特权：
                                        table
                                            thead
                                                tr
                                                    th(width='45%') 特权信息
                                                    th(width='45%') 激活条件
                                            tbody
                                                tr
                                                    td 减免第3次会员费，减免30%
                                                    td 申卡后3个月内，总使用次数达到3次
                                                tr
                                                    td 分期息费减免-永久，减免40%
                                                    td 分期次数达到10次以上
                                .de-line
                                    h4 风控策略信息：
                                    ul
                                        li
                                            span.de-title 选择风控策略：
                                            | 风控策略1
                                .de-line
                                    h4 资金源配置：
                                    ul
                                        li
                                            span.de-title 选择资金账户：
                                            | 资金账户1
                                .de-line
                                    h4 各类型商户服务费设置：
                                    ul
                                        li
                                            span.de-title 个体商户服务费：
                                            | 20%
                                        li
                                            span.de-title 私营商户服务费：
                                            | 20%
                                        li
                                            span.de-title 连锁商户服务：
                                            | 20%
                                .de-btn
                                    span 修改

    script.
        $('.agreement a').on('click', function () {
            $(this).addClass('active').siblings().removeClass('active');
            var activeindex = $('.agreement').find("a").index(this);
            console.log(activeindex);
            $('.ag-content').children().eq(activeindex).addClass("active").siblings().removeClass('active');
        })
        // 富文本编辑器 初始化
        var ue01 = UE.getEditor('editor01');
        var ue02 = UE.getEditor('editor02');
        var ue03 = UE.getEditor('editor03');

