extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 订单中心 /
                        span  消费订单中心 /
                        a(href='javascript:history.go(-1)')  已取消订单管理 /
                        span.last  已取消订单详情
                    .main-container
                        .pagecont
                            .shz-detail.consum_yqx_detail
                                .del-top
                                    img(src='../../img/yqx@2x.png')
                                    span 该笔订单已取消！
                                .detail-content
                                    .order-detail
                                        .or-top 用户信息
                                        ul
                                            li
                                                span 申请人：
                                                .info 彭大石
                                            li
                                                span 手机号码：
                                                .info 13282772823
                                            li
                                        .or-btm
                                            a(href='') 查看用户详细信息
                                    .order-detail
                                        .or-top 订单信息
                                        ul
                                            li
                                                span 订单编号：
                                                .info 26565448856
                                            li
                                                span 订单金额：
                                                .info 3000.00
                                            li
                                                span 下单时间：
                                                .info 2017-04-28  15：24：25
                                            li
                                                span 使用卡片：
                                                .info A卡片
                                            li
                                                span 下单商户：
                                                .info XXX
                                            li
                                                span 下单门店/电商：
                                                .info XXX店
                                            li
                                                span 支付类型：
                                                .info 分期支付
                                            li
                                                span 风控计划：
                                                .info AA风控计划
                                            li
                                                span 审批完成时间：
                                                .info 2017-04-28  15：24：25
                                            li
                                                span 状态：
                                                .info 订单已取消
                                    .order-detail
                                        .or-top 取消进度
                                        ul
                                            li
                                                span 取消时间：
                                                .info 2017-10-23 12:10:13
                                            li
                                                span 订单取消发起账户：
                                                .info 李超（13666604464）
                                            li
                                                span 状态：
                                                .info 订单已取消

