extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 订单中心
                        span / 授信申请订单中心 /
                        span.last  已通过订单管理
                    .main-container
                        .pagecont
                            .credit_shz
                                .cardTop
                                    .searchBox
                                        .sea-line
                                            span 订单编号：
                                            input(type='text')
                                        .sea-line
                                            span 用户手机号：
                                            input(type='text')
                                        .sea-line
                                            span 申请卡片名称：
                                            input(type='text')
                                        .sea-line
                                            span 用户姓名：
                                            input(type='text')
                                        .sea-line
                                            a.sear 搜索
                                            a.reset 重置
                                .cr-content
                                    ul
                                        li 申请人姓名
                                        li 申请人手机号
                                        li 申请卡片名称
                                        li 订单状态
                                        li 操作
                                    table
                                        caption
                                            span 完成时间：2017-03-13  14:43
                                            span 订单编号：2016081514432586
                                        tbody
                                            tr
                                                td 123
                                                td 123
                                                td
                                                    span 赫美轻奢卡片
                                                    span 额度：123
                                                td 审批通过
                                                td
                                                    a(href='credit_ytg_detail') 查看详情

