extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
    script(type="text/javascript", charset="utf-8", src="/ueditor/ueditor.config.js")
    script(type="text/javascript", charset="utf-8", src="/ueditor/ueditor.all.min.js")
    script(type="text/javascript", charset="utf-8", src="/ueditor/lang/zh-cn/zh-cn.js")
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 虚拟卡中心 /
                        a(href='javascript:history.go(-1)')  卡片管理 /
                        span.last  卡片信息
                    .main-container
                        .pagecont
                            .cardDetail.editCard
                                .de-line
                                    h4 虚拟卡基本信息：
                                    ul
                                        li.de-first
                                            span.de-title 虚拟卡logo：
                                            .pic
                                                .img
                                                    img#pic_tx(src='../../img/ciri.jpg')
                                            div.sc 点击上传图片
                                            input#pic(type='file' value=' ')
                                        li
                                            span.de-title 卡片名称：
                                            input(type='text')
                                        li
                                            span.de-title 预估额度：
                                            input(type='text')
                                        li
                                            span.de-title 申请条件：
                                            textarea
                                        li
                                            span.de-title 应用范围：
                                            textarea
                                        li
                                            span.de-title 卡片类型：
                                            | 分期支付专项卡
                                        li
                                            span.de-title 卡片简介：
                                            textarea
                                .de-line
                                    h4 协议信息：
                                    .agreement
                                        .ag-top
                                            a.zxsq.active 征信授权协议
                                            a.yhsx 用户授信额度协议
                                            a.ht 借款合同
                                        .ag-content
                                            .editor.active
                                                #editor01(type="text/plain", style="width:100%;height:500px;")
                                                button(onclick="getContent01()") 保存
                                            .editor
                                                #editor02(type="text/plain", style="width:100%;height:500px;")
                                                button(onclick="getContent02()") 保存
                                            .editor
                                                #editor03(type="text/plain", style="width:100%;height:500px;")
                                                button(onclick="getContent03()") 保存



                                .de-line
                                    h4 息费设置：
                                    ul
                                        li
                                            span.de-title 可分期期数及费率：
                                            .byStages
                                                .bs-line
                                                    select
                                                        option 请选择
                                                    span 期 ———
                                                    input(type='text')
                                                    span %
                                                    a.del 删除
                                                .bs-line
                                                    select
                                                        option 请选择
                                                    span 期 ———
                                                    input(type='text')
                                                    span %
                                                    a.del 删除
                                                    a.bs-add 添加

                                        li
                                            span.de-title 分期后逾期费率：
                                            input(type='text')
                                            |  %
                                        li
                                            span.de-title 账单宽限天数：
                                            input(type='text')
                                            |  天
                                            .ts(style='color:#aaa;') 账单宽限期内还款不收逾期费，但如果用户在此期间内未还，后续再还款还是会收取用户这几天的逾期费
                                .de-line
                                    h4 失效规则设置：
                                    ul
                                        li
                                            span.de-title 设置失效时间：
                                            input(type='text')
                                            |  天
                                .de-line
                                    h4 最低单笔消费设置：
                                    ul
                                        li
                                            span.de-title 单笔最低消费不能低于：
                                            input(type='text')
                                            |  元
                                .de-line
                                    h4 会员费设置：
                                    ul
                                        li
                                            span.de-title 会员费金额：
                                            input(type='text')
                                            |  元
                                        li
                                            select.huf
                                                option 请选择
                                                option(value='001') 按次数收费
                                                option(value='002') 按天数收费
                                            .se-line.se01
                                                input(type='text')
                                                |  次
                                                p 设置会员费在申卡后第几次消费后收取
                                            .se-line.se02
                                                input(type='text')
                                                |  天
                                                p 设置会员费在申卡后多少天后生成
                                .de-line
                                    h4 特权政策：
                                    .privilege
                                        h5 系统内特权：
                                        .pr-top
                                            span.xtn_tq 新增特权
                                            span 删除
                                        table
                                            thead
                                                tr
                                                    th(width='10%')
                                                        input.all(type='checkbox')
                                                    th(width='35%') 特权信息
                                                    th(width='35%') 激活条件
                                                    th(width='20%') 操作
                                            tbody.xj
                                                tr
                                                    td
                                                        input(type='checkbox')
                                                    td 减免第3次会员费，减免30%
                                                    td 申卡后3个月内，总使用次数达到3次
                                                    td
                                                        a.xtn-edit 修改特权
                                                tr
                                                    td
                                                        input(type='checkbox')
                                                    td 分期息费减免-永久，减免40%
                                                    td 分期次数达到10次以上
                                                    td
                                                        a.xtn-edit 修改特权
                                        h5 系统外特权：
                                        .pr-top
                                            span.xtw_tq 新增特权
                                            span 删除
                                        table
                                            thead
                                                tr
                                                    th(width='10%')
                                                        input.all01(type='checkbox')
                                                    th(width='35%') 特权信息
                                                    th(width='35%') 激活条件
                                                    th(width='20%') 操作
                                            tbody.xj01
                                                tr
                                                    td
                                                        input(type='checkbox')
                                                    td 减免第3次会员费，减免30%
                                                    td 申卡后3个月内，总使用次数达到3次
                                                    td
                                                        a.xtw-edit 修改特权
                                                tr
                                                    td
                                                        input(type='checkbox')
                                                    td 分期息费减免-永久，减免40%
                                                    td 分期次数达到10次以上
                                                    td
                                                        a.xtw-edit 修改特权
                                .de-line
                                    h4 风控策略配置：
                                    ul
                                        li
                                            span.de-title 选择风控策略：
                                            select
                                                option 请选择
                                .de-line
                                    h4 资金源配置：
                                    ul
                                        li
                                            span.de-title 选择资金账户：
                                            select
                                                option 请选择
                                .de-line.shfw
                                    h4 各类型商户服务费设置：
                                    ul
                                        li
                                            span.de-title 个体商户服务费：
                                            input(type='text')
                                            |  %
                                            em 服务费上线30%
                                        li
                                            span.de-title 私营商户服务费：
                                            input(type='text')
                                            |  %
                                            em 服务费上线50%
                                        li
                                            span.de-title 连锁商户服务：
                                            input(type='text')
                                            |  %
                                            em 服务费上线60%
                                .de-btn
                                    span 提交
    script.
        $(function(){
            //上传图片
            $("#pic").change(function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    $("#pic_tx").attr("src", this.result);
                };
            });
            //  会员费设置
            $('.huf').on('change', function(){
                if ($("option:selected", this).val() == '001') {
                    $('.se01').addClass('active').siblings().removeClass('active');
                }else if($("option:selected", this).val() == '002'){
                    $('.se02').addClass('active').siblings().removeClass('active');
                }else{
                    $('.se01,.se02').removeClass('active');
                }
            })

            //全选效果
            function checkAll(class1, class2) {
                class1.on('click', function () {
                    class2.find("input[type='checkbox']").prop("checked", class1.prop("checked"));
                });
                class2.find("input[type='checkbox']").each(function () {
                    $(this).on('click', function () {
                        var allCheckNum = class2.find("input[type='checkbox']").length;
                        var checkedNum = class2.find("input[type='checkbox']:checked").length;
                        if (allCheckNum == checkedNum) {
                            class1.prop("checked", 'checked');//全被选中
                        } else {
                            class1.prop("checked", '');//部分选中
                        }
                    })
                });
            }
            new checkAll($('.all'), $('.xj'));
            new checkAll($('.all01'), $('.xj01'));


            //选中项操作
            $('.de-btn span').on('click', function () {

                if ($(".all").prop("checked") == true) {//全被选中时的操作
                    console.log(3)
                } else {
                    $(".xj input[type='checkbox']").each(function () {
                        if ($(this).prop('checked') == true) {   //部分被选中项的操作
                            console.log(1);
                        } else {      // 都没被选中事的操作
                            console.log(2);
                        }
                    })
                }

            })

            //    系统内特权
            $('.xtn_tq').on('click', function(){
                zeroModal.show({
                    url: 'tq_addPopup',
                    title: '新增系统内特权',
                    width:'600px',
                    height:'570px',
                    cancel:true
                })
            })
            //    系统内特权
            $('.xtw_tq').on('click', function () {
                zeroModal.show({
                    url: 'tq_xtwPopup',
                    title: '新增系统外特权',
                    width: '600px',
                    height: '500px',
                    cancel: true
                })
            })

            //    修改系统内特权
            $('.xtn-edit').on('click', function () {
                zeroModal.show({
                    url: 'tq_addPopup',
                    title: '新增系统内特权',
                    width: '600px',
                    height: '570px',
                    cancel: true
                })
            })
            //    修改系统内特权
            $('.xtw-edit').on('click', function () {
                zeroModal.show({
                    url: 'tq_xtwPopup',
                    title: '新增系统外特权',
                    width: '600px',
                    height: '500px',
                    cancel: true
                })
            })

            $('.agreement a').on('click', function(){
                $(this).addClass('active').siblings().removeClass('active');
                var activeindex = $('.agreement').find("a").index(this);
                console.log(activeindex);
                $('.ag-content').children().eq(activeindex).addClass("active").siblings().removeClass('active');
            })

        })

        // 富文本编辑器 初始化
        var ue01 = UE.getEditor('editor01');
        var ue02 = UE.getEditor('editor02');
        var ue03 = UE.getEditor('editor03');

        function getContent01() {
            alert(UE.getEditor('editor01').getContent());
        }
        function getContent02() {
            alert(UE.getEditor('editor02').getContent());
        }
        function getContent03() {
            alert(UE.getEditor('editor03').getContent());
        }