extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')

block content
    .invite_accept
        .title 确定接受选中的邀请吗？
        .con
            a.js 接受
            a.qx(href='invite_cooperation') 取消


    style.
        .zeromodal-header {
            text-align: center;
            height: 59px;
            line-height: 59px;
            background: #E63F46;
            color: #fff;
        }

        .zeromodal-close {
            background: url("../../img/close.png") no-repeat;
            background-size: 100% 100%;
        }
        .invite_accept .title{
            text-align: center;
            margin-top: 40px;
            color: #433C3C;
            font-size: 18px;
        }
        .invite_accept .con{
            text-align: center;
            margin-top: 40px;
        }
        .invite_accept .con a{
            display: inline-block;
            width: 86px;
            height: 36px;
            text-align: center;
            line-height: 36px;
            border-radius: 4px;
            margin: 0 22px;
            border: 1px solid #CED0DA;
            cursor: pointer;
        }
        .invite_accept .con a.js{
            background: #DB161E;
            color: #fff;
        }
        .invite_accept .con a:hover{
            background: #DB161E;
            color: #fff;
        }


    script.
        var sid = '#{sid}';
        console.log(sid);
        $('.js').on('click', function(){
            $.post('/api/Api_CM_BINDAPPLY_A5_passApply_Request', {Sid:sid}, function (res) {
                if (res.status.resultcode === '0') {
                    zeroModal.success('发起合作成功')
                    setTimeout(function () {
                        window.location.href = '/card/cooperation/invite_cooperation'
                    }, 1000)
                }else{
                    zeroModal.error('发起合作失败')
                }
            })
        })

        


