extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 合作中心 /
                        a(href='javascript:history.go(-1)') 商户池 /
                        span.last  信息详情
                    .main-container
                        .pagecont
                            .m-p-detail
                                .m-p-left
                                    .title 门店图：
                                    img(src='../../img/ciri.jpg')
                                .m-p-right
                                    ul
                                        li
                                            .title 门店名称：
                                            .r-con
                                                span XXX店
                                        li
                                            .title 门店地址：
                                            .r-con
                                                span XXX店
                                        li
                                            .title 所属商户名称：
                                            .r-con
                                                span XXX店
                                        li
                                            .title 所属商户办公地址：
                                            .r-con
                                                span XXX店
                                        li
                                            .title 所属商户联系电话：
                                            .r-con
                                                span XXX店
                                        li
                                            .title 所属商户营业执照编号：
                                            .r-con
                                                span XXX店
                                        li.last
                                            .title 所属商户营业执照证件：
                                            .r-con
                                                .img
                                                    img(src='../../img/ciri.jpg')

