extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')

block content
    .m-c-apply
        .m-wrap
            .m-a-con
                ul
                    li
                        .con-top 商户名称：
                        .con-c
                            .c-title
                                span XXX服务有限公司
                    li
                        .con-top 关联门店/电商：
                        .con-c
                            label
                                input(type='checkbox')
                                | A门店
                            label
                                input(type='checkbox')
                                | B门店
                            label
                                input(type='checkbox')
                                | C门店
                            label
                                input(type='checkbox')
                                | D门店
                    li
                        .con-top 关联卡片：
                        .con-c.con-card
                            label
                                input(type='checkbox')
                                .pic
                                    .img
                                        img(src='../../img/ciri.jpg')
                                    span xx轻奢卡
                            label
                                input(type='checkbox')
                                .pic
                                    .img
                                        img(src='../../img/ciri.jpg')
                                    span xx轻奢卡
                            label
                                input(type='checkbox')
                                .pic
                                    .img
                                        img(src='../../img/ciri.jpg')
                                    span xx轻奢卡
                    li
                        .con-top 结算方式：
                        .con-c
                            select
                                option 测试1
                                option 测试2
                                option 测试3
                    li
                        .con-top 设置贷款结算周期：
                        .con-c
                            select
                                option 测试1
                                option 测试2
                                option 测试3
                    li
                        .con-top 设置佣金规则：
                        .con-c
                            select
                                option 测试1
                                option 测试2
                                option 测试3
                    li
                        .con-top 设置返点比率：
                        .con-c
                            input.fd(type='text')
        .m-a-btm
            span.sub 申请提交




    style.
        .zeromodal-header {
            text-align: center;
            height: 59px;
            line-height: 59px;
            background: #E63F46;
            color: #fff;
        }

        .zeromodal-close {
            background: url("../../img/close.png") no-repeat;
            background-size: 100% 100%;
        }
    script.
        $('.sub').on('click', function(){
            zeroModal.show({
                url:'my_success'
            })
        })