extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')

block content
    .operator_log
        ul
            li
                .left
                    .circle
                    .line
                .time 2017-03-15 16:48:54
                .title 账户动作： 认账通过
                .con 操作内容：申请分期用户：17852415478通过认证
            li
                .left
                    .circle
                    .line
                .time 2017-03-15 16:48:54
                .title 账户动作： 认账通过
                .con 操作内容：申请分期用户：17852415478通过认证
            li
                .left
                    .circle
                    .line
                .time 2017-03-15 16:48:54
                .title 账户动作： 认账通过
                .con 操作内容：申请分期用户：17852415478通过认证
            li
                .left
                    .circle
                    .line
                .time 2017-03-15 16:48:54
                .title 账户动作： 认账通过
                .con 操作内容：申请分期用户：17852415478通过认证
            li
                .left
                    .circle
                    .line
                .time 2017-03-15 16:48:54
                .title 账户动作： 认账通过
                .con 操作内容：申请分期用户：17852415478通过认证

    style.
        .zeromodal-header {
            text-align: center;
            height: 59px;
            line-height: 59px;
            background: #E63F46;
            color: #fff;
        }

        .zeromodal-close {
            background: url("../../img/close.png") no-repeat;
            background-size: 100% 100%;
        }

    script.

