extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 订单中心 /
                        a(href='javascript:history.go(-1)')  账单分期订单管理 /
                        span.last  账单分期订单详情
                    .main-container
                        .pagecont
                            .shz-detail.consum_ywc_detail
                                .detail-content
                                    .order-detail
                                        .or-top 分期信息
                                        ul
                                            li
                                                span 分期订单编号：
                                                .info 26565448856
                                            li
                                                span 分期金额：
                                                .info 3000.00
                                            li
                                                span 分期期数：
                                                .info 6期
                                            li
                                                span 分期时间：
                                                .info 2017-18-12 12：34：23
                                    .order-detail
                                        .or-top 用户信息
                                        ul
                                            li
                                                span 申请人：
                                                .info 彭大石
                                            li
                                                span 手机号码：
                                                .info 13282772823
                                        .or-btm
                                            a(href='') 查看用户详细信息
                                    .order-detail
                                        .or-top 原账单信息
                                        ul
                                            li
                                                span 原信用支付账单编号：
                                                .info 234355768
                                            li
                                                span 账单金额：
                                                .info 3000.00元
                                            li
                                                span 账单出账时间：
                                                .info 2017-12-13
                                        .or-btm
                                            a(href='') 查看详情
                                    .order-detail
                                        .or-top 分期账单信息
                                        .fq-title
                                            | 已还2004.98元（含滞纳金100.00元） 待还4304.98元
                                        .fq
                                            .fq-top
                                                .f-t-line
                                                    span.money 4000.00
                                                    span 分期本金（元）
                                                .f-t-line.f-t-line2
                                                    span.money 58.23
                                                    span 分期总服务费（元）
                                                .f-t-line
                                                    span.money 3058.23
                                                    span 应还总额（元）
                                            .fq-info
                                                .info-top
                                                    span [1/6期]
                                                    .t-right
                                                        span ￥269.23
                                                        span.sxf （手续费12.21元）
                                                .info-time
                                                    span 到期日：2017-03-27
                                                    span 还款日：2017-04-27
                                                    .info-t-zt 已还款
                                            .fq-info
                                                .info-top
                                                    span [2/6期]
                                                    .t-right
                                                        span ￥269.23
                                                        span.sxf （手续费12.21元）
                                                .info-time
                                                    span 到期日：2017-03-27
                                                    span 还款日：2017-04-27
                                                    .info-t-zt 已还款

