extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    .tq_addPopup
        .tq-top
            span 选择特权：
            select.se-tq
                option(value='01') 请选择
                option(value='02') 会员费减免
                option(value='03') 分期息费减免-永久
                option(value='04') 息费减免-下一笔分期
        .tq_content.tq-con01
            h3 设置减免规则：
            .con-line.con01
                span 减免第
                input(type='number')
                span 次会员费
            .con-line
                span 减免百分比
                input(type='number')
                span %
                span(style='margin:0 20px;') 或
                span 减免金额
                input(type='number')
                span 元
        .tq_content.tq-con02
            h3 设置减免规则：
            .con-line.con01
                span 减免百分比
                input(type='number')
                span %
        .tq_btm
            h3 设置特权激活规则：
            .btm-line
                span 申卡后
                input(type='number')
                span 天 ——
                input(type='number')
                span 天，总使用次数达到
                input(type='number')
                span 次
            .btm-line
                span 申卡后
                input(type='number')
                span 天 ——
                input(type='number')
                span 天，总消费金额达到
                input(type='number')
                span 元
            a.tq-sub 确定
    script.
        $(function(){

            $('.se-tq').on('change', function () {
                console.log(1);
                if ($("option:selected", this).val() == '01') {
                    $('.tq_content').css('display', 'none');
                    $('.tq_btm').css('display', 'none');
                } else if ($("option:selected", this).val() == '02') {
                    $('.tq-con01').css('display', 'block');
                    $('.tq-con02').css('display', 'none');
                    $('.tq_btm').css('display', 'block');
                } else {
                    $('.tq-con01').css('display', 'none');
                    $('.tq-con02').css('display', 'block');
                    $('.tq_btm').css('display', 'block');
                }
            })
        })