extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    .xtw-popup.tq_addPopup
        .xtw-top
            span 特权：
            textarea
        .xtw-content
            .tq_btm
                h3 设置特权激活规则：
                .btm-line
                    span 申卡后
                    input(type='number')
                    span 天 ——
                    input(type='number')
                    span 天，总使用次数达到
                    input(type='number')
                    span 次
                .btm-line
                    span 申卡后
                    input(type='number')
                    span 天 ——
                    input(type='number')
                    span 天，总消费金额达到
                    input(type='number')
                    span 元
                a.tq-sub 确定